<div class="bg-indigo-900 text-purple-lighter flex-none w-2/12 pb-6 h-screen">
  <div class="text-white mb-2 mt-3 px-4 flex justify-between">
    <div class="flex-auto">
      <h1 class="font-semibold text-xl leading-tight mb-1 truncate">Jirapah</h1>
    </div>
  </div>
  <div class="">
    <div class="px-4 mb-2 text-white flex justify-between items-center">
      <div class="text-sm opacity-75">Member</div>
    </div>
    <% if @members %>
    <div>
    <% @members.each do |member| %>
    <div class="text-xs flex items-center px-4">
      <% if @filter_members.include? member.id %>
        <span class="bg-green-500 rounded-full block w-2 h-2 mr-2"></span>
        <a href="<%= url_for(filter_members: (@filter_members - [member.id]).join(','), epic: params[:epic]) %>" class="text-white opacity-75">
      <% else %>
        <span class="border-white border rounded-full block w-2 h-2 mr-2"></span>
        <a href="<%= url_for(filter_members: (@filter_members + [member.id]).join(','), epic: params[:epic]) %>" class="text-white opacity-75">
      <% end %>
      <%= member.name %></a>
    </div>
    <% end %>
    </div>
    <% end %>

    <div class="px-4 mb-2 mt-4 text-white flex justify-between items-center">
      <div class="text-sm">
        <a href="<%= url_for(action: 'index', epic: params[:epic], filter_members: @filter_members.join(',')) %>" class="<%= params[:action] == 'index' ? 'text-white' : 'opacity-75' %>">Iteration</a>
      </div>
    </div>

    <div class="px-4 mb-2 text-white flex justify-between items-center">
      <div class="text-sm">
        <a href="<%= url_for(action: 'timeline', epic: params[:epic], filter_members: @filter_members.join(',')) %>" class="<%= params[:action] == 'timeline' ? 'text-white' : 'opacity-75' %>">Timeline</a>
      </div>
    </div>

    <div class="px-4 mb-2 text-white flex justify-between items-center">
      <div class="text-sm opacity-75">Epic</div>
    </div>
    <% if @epics %>
    <div class="overflow-y-auto h-64">
    <% @epics.each do |epic| %>
    <div class="text-xs flex items-center px-4">
      <% if params[:epic].to_i == epic.id %>
      <span class="bg-purple-500 rounded-full block w-2 h-2 mr-2"></span>
      <% else %>
      <span class="border-white border rounded-full block w-2 h-2 mr-2"></span>
      <% end %>
      <a href="<%= url_for(epic: epic.id, filter_members: @filter_members.join(',')) %>" class="text-white opacity-75">
        <%= epic.clean_title %>
      </a>
    </div>
    <% end %>
    </div>
    <% end %>
  </div>
</div>